[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev-server = "uvicorn polympics_server:application"
prod-server = "gunicorn -w 4 -k uvicorn.workers.UvicornWorker polympics_server:application"
build-docs = "sphinx-build docs/source docs/build"
cli = "python3 -m polympics_server"

[packages]
peewee = "*"
fastapi = "*"
python-multipart = "*"
psycopg2 = "*"
"uvicorn[standard]" = "*"
gunicorn = "*"
aiohttp = "*"

[dev-packages]
flake8 = "*"
flake8-annotations = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
flake8-import-order = "*"
flake8-string-format = "*"
flake8-tidy-imports = "*"
flake8-todo = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.9"
